:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1230px;
  }
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}

// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}
%container-narrow,
.container-narrow {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

%grid-template {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
}

%grid2,
.grid2 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;

  @include up(730) {
    grid-template-columns: repeat(2, 1fr);
  }
}