includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
  level: 6
  paths:
    - src
  excludePaths:
    - src/Infrastructure/Migrations/*
    - src/Http/Admin/Controller/CrudController.php
    - src/Http/Form/AutomaticForm.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
